<div class="mx-auto max-w-sm">
  <.header class="text-center">Confirm account</.header>

  <.simple_form for={@conn.params["user"]} as={:user} action={~p"/users/confirm/#{@token}"}>
    <:actions>
      <.button class="w-full">Confirm my account</.button>
    </:actions>
  </.simple_form>

  <p class="mt-4 text-center text-sm text-zinc-500">
    <.link href={~p"/users/register"} class="hover:text-brand">Register</.link>
    <span aria-hidden="true">|</span>
    <.link href={~p"/users/log_in"} class="hover:text-brand">Log in</.link>
  </p>
</div>
