<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
<!-- Page Title -->
    <title>Blog | {Map.get(assigns, :page_title, "My Blog")}</title>
    
<!-- Basic Meta Description -->
    <meta name="description" content="Blog Site to keep track of my programming Journey." />
    
<!-- Author -->
    <meta name="author" content="Adam Vietro" />
    
<!-- Open Graph (Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content="Blog" />
    <meta property="og:description" content="Blog Site to keep track of my programming Journey." />
    <meta
      property="og:image"
      content="https://media2.dev.to/dynamic/image/width=1000,height=420,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fuuo9fxl96owi7avgzvhf.png"
    />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://blog-wild-leaf-1554.fly.dev/" />
    
<!-- Twitter Card -->
    <meta
      name="twitter:card"
      content="https://media2.dev.to/dynamic/image/width=1000,height=420,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fuuo9fxl96owi7avgzvhf.png"
    />
    <meta name="twitter:title" content="Blog" />
    <meta name="twitter:description" content="Blog Site to keep track of my programming Journey." />
    <meta
      name="twitter:image"
      content="https://media2.dev.to/dynamic/image/width=1000,height=420,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fuuo9fxl96owi7avgzvhf.png"
    />
    
<!-- Optional: Article publish date -->
    <meta property="article:published_time" content="2025-03-01T00:00:00Z" />
  </head>
  <head>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          {@current_user.email}
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <image>
      <img
        class="top_image max-h-120px"
        src="https://www.shecodes.io/assets/backgrounds/vectors-68d3246d3ce91acc9d2cea09a5a41aa072c9b3df4cfc2904028ff7c5c6428d44.png"
      />
    </image>
    <div class="topnavcontainer">
      <.link navigate={~p"/"} class="link">Home</.link>
      <.link navigate={~p"/posts"} class="link">Posts</.link>
      <.link navigate={~p"/tags"} class="link">Tags</.link>
      <.link navigate={~p"/search"} class="link">Post Search</.link>
      <.link navigate={~p"/tags/search"} class="link">
        Tag Search
      </.link>
      <%= if @current_user && @current_user.admin do %>
        <.link navigate={~p"/posts/new"} class="link bg-yellow-400 hover:bg-gray-200">
          New Post
        </.link>
        <.link navigate={~p"/tags/new"} class="link bg-yellow-400 hover:bg-gray-200">
          New Tag
        </.link>
      <% end %>
    </div>
    {@inner_content}
  </body>
</html>

<script defer type="text/javascript" src={~p"/assets/app.js"}>
</script>

<style>
  .topnavcontainer {
    align-items: center;
    justify-content: center;
    display:flex;
    border: 2px solid rgb(95 97 110);
    background:gray;
    margin: auto;
    max-width: fit-content;
  }

  .link{
    padding:5px;
    margin:3px;
    color: #dfe4e7ff;
    background: #9ca3af;
  }

  .link:hover {
    background: #e5e7eb;
    color: #1f2937;
  }

  font {
    padding-left: 10%;
  }

  .top_image {
    display: block;
    margin: auto;
    width: 100%;
    max-height: 250px;
  }
</style>
