<.header>
  Listing Tags
  <:actions>
    <.link href={~p"/tags/new"}>
      <.button>New Tag</.button>
    </.link>
  </:actions>
</.header>

<.table id="tags" rows={@tags}>
  <:col :let={tag} label="Tag">{tag.name}</:col>
  <:action :let={tag}>
    <.link href={~p"/tags/#{tag}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>