<.header>
  Listing Tags
  <:actions>
    <%= if @current_user && @current_user.admin do %>
      <.link href={~p"/tags/new"}>
        <.button>New Tag</.button>
      </.link>
    <% end %>
  </:actions>
</.header>

<.table id="tags" rows={@tags}>
  <:col :let={tag} label="Tag">{tag.name}</:col>
</.table>
