<.header>
  Tag {@tag.id}
  <:subtitle>This is a tag record from your database.</:subtitle>
</.header>

<.list>
  <:item title="Tag">{@tag.name}</:item>
</.list>

<.back navigate={~p"/tags"}>Back to tags</.back>
