@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.prose pre {
    background-color: #f5f5f5;
    /* light gray */
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
}

.prose code {
    font-family: monospace;
    font-size: 0.875rem;
    color: #1f2937;
    /* dark gray */
}