<.header>
  Edit Post  tag {@post__tag.id}
  <:subtitle>Use this form to manage post_tag records in your database.</:subtitle>
</.header>

<.post_tag_form changeset={@changeset} action={~p"/post_tags/#{@post__tag}"} />

<.back navigate={~p"/post_tags"}>Back to post_tags</.back>
