<.header>
  Post  tag {@post_tag.id}
  <:subtitle>This is a post_tag record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/post_tags/#{@post_tag}/edit"}>
      <.button>Edit post_tag</.button>
    </.link>
  </:actions>
</.header>

<.list>
</.list>

<.back navigate={~p"/post_tags"}>Back to post_tags</.back>
