<.simple_form :let={f} for={@changeset} action={@action}>
  <.input field={f[:content]} type="text" label="Content" />
  <.input type="hidden" field={f[:post_id]} value={@id} />
  <:actions>
    <.button>Commit</.button>
  </:actions>
</.simple_form>