<div class="mx-auto max-w-lg">
  <.header>New Comment</.header>

  <.comment_form
    changeset={@comment_changeset}
    post_id={@post.id}
    action={~p"/posts/#{@post.id}/comments/new"}
  />

  <.back navigate={~p"/posts/#{@post.id}/comments"}>Back to comments</.back>
</div>
