<.header>
  <:actions>
    <.link href={~p"/posts/#{@conn.params["id"]}"}>
      <.button>Posts</.button>
    </.link>
  </:actions>
</.header>

<.table id="comment" rows={@comment}>
  <:col :let={comment} label="comment">{comment["comment"]}</:col>
  <:action :let={comment}>
    <.link href={~p"/posts/#{@conn.params["id"]}/comments/#{comment["id"]}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
